.Card {
  margin-bottom: 30px;
}

@media only screen and (min-width:1800px) {	
  .Card {
    flex-basis: 25%;
  }
}

.Card img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.SearchBar input {
  border-radius: 10px;
  color: #242a3d;
  padding-left: 40px;
}

.SearchBar select {
  border-radius: 10px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}
