.Advert {
    background: #3f7381;
    color: #cfced3;
    border: 2px solid #07161b;
    border-radius: 20px;
    white-space: pre-line;
}
.Img {
    border-bottom: 2px solid #07161b;
    border-radius: 20px 20px 0 0;
}
.CardBody { 
    padding: 0 !important;
    position: relative;
}
.Category {
    background: #07161b;
    color: #cfced3;
    left: 0;
    position: absolute;
    top: 20px;
}
.CardTitle {
    font-size: 1.6rem;
    font-weight: bold;
}
.Heart {
    color: #f85032;
}
.MainImg {
    border: 2px solid #07161b;
    height: auto;
    object-fit: contain;
    width: 100%;
}
.Thumbnails {
    border-top: 0;
    border-radius: 0 0 20px 20px;
}
.Thumbnail {
    aspect-ratio: 1;
    border: 2px solid #07161b;
    height: auto;
    object-fit: cover; 
    width: 24%;
}