.Advert {
    background: #3f7381;
    border: 2px solid #07161b;
    border-radius: 20px;
    white-space: pre-line;
}
.Img {
    border-bottom: 2px solid #07161b;
    border-radius: 20px 20px 0 0;
}
.CardBody { 
    padding: 0 !important;
}
.CardTitle {
    font-size: 28px;
}