.Button {
  align-self: center; 
  border-radius: 10px;
  border-color: transparent;
  font-size: 1.5rem;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;    
  padding: 4px 10px;    
}

.Button:hover {
  border-color: transparent;
  cursor: pointer;
  opacity: 0.8;
}

.Button:hover:active {
  background-color: #2142b2 !important;
}

.Button:active {
  background-color: #2142b2 !important;
}

.Button:focus {
  background-color: #2142b2;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Small {
  font-size: 0.8rem;
  padding: 0 5px;
}

.Blue {
  background: #3f7381;
  border: 2px solid #3f7381;
  color: #cec7bf;
}

.Blue:hover {
  background: #07161b;
}

.Outline:hover {
  border: 2px solid #cec7bf;
}