.Input {
  background: #fff;
  box-sizing: border-box;
  border: 2px solid #07161b;
  border-radius: 10px;
  color: #07161b;
  padding: 10px;
  text-align: center;  
}

.Header {
  color: #3f7381;
  font: normal 2.6rem "Delius Swash Caps", cursive;  
  line-height: 4rem;
  text-align: center;  
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #3f7381;
}

.Link span:hover {
  color: #cec7bf;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}