.App {
    background-color: #334a58;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    height: 100%;
}

.Main {
    max-width: 100vw;
    padding: 90px 0 0 0;
}

.Content {
    background: #cec7bf;
    border: 2px solid #07161b;
    border-radius: 20px;
    padding: 20px;
    white-space: pre-line;
}

.ContentDark {
    background: #07161b;
    border: 2px solid #cec7bf;
    border-radius: 20px;
    padding: 20px;
    white-space: pre-line;
}

* {
    box-sizing: border-box;
}

a {
    color: #cec7bf;
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: #07161b;
    text-decoration: none;
}

.ContentDark a {
    color: #cec7bf;
    transition: color ease-in-out 0.3s;
}

.ContentDark a:hover {
    color: #3f7381;
    text-decoration: none;
}

a:hover i {
    color: #07161b;
    transition: color ease-in-out 0.3s;
}

i {
    color: #cec7bf;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #07161b;
}